---
import { Image } from "astro:assets";
import toSlugOrName from "../../utils/toSlugOrName";
const { product } = Astro.props;

//set up the sizes in the correct way for snipcarts crawlers to understand
let sizes = product.data.sizes
    .map((size) => {
        return size.size + "[+" + size.extraPrice + ".00]";
    })
    .join("|");

//check product trype to decalre weight used for calculation shipping methods
const productWeight =
    product.data.type === "Board" ||
    product.data.type === "Mast" ||
    product.data.type === "Sejl" ||
    product.data.type === "Bom"
        ? 1000
        : 0;

const productDescription = product.data.content
    ? product.data.content.substring(0, 100) + "..."
    : "";
---

<button
    id="buy-button"
    class="snipcart-add-item buyButton"
    data-item-name={toSlugOrName(product, "name")}
    data-item-image={product.data.image}
    data-item-description={productDescription}
    data-item-price={product.data.price}
    data-item-id={toSlugOrName(product, "slug")}
    data-item-weight={productWeight}
    data-item-custom1-name="Størrelse"
    data-item-custom1-options={sizes}>
    Læg i kurv
    <Image src="/icons/addToCart.svg" alt="Tilføj til kurv" width="22" height="22" />
</button>
